/* testimonials */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English:400i&display=swap');

.carousel-item
{
    color: whitesmoke;
}

.jumbotron {
    height: 400px !important;
}

.carousel p
{
    color:inherit;
    font-family: 'IM Fell English', cursive;
    font-size: 28px;
}

.testText
{
    text-align: center;
}

.carousel-item h1
{
    font-family: inherit;
    color: inherit;
}

.testBy
{
    text-align: right;
}

.wrapper
{
    width: 900px;
}

.carousel
{
    margin: auto;
}

.about-section
{
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 50px;
}

@media only screen and (max-width: 450px)
{
    .about-section
    {
        font-size: 14px;
    }

    .jumbotron
    {
        height: 600px !important;
        background-image: none;
    }

    .carousel p
    {
        font-size: 12px;
    }
}
