.form
{
    width: 100%;
    text-algin: center;
}

.content-form
{
    width: 750px;
    margin: 0 auto;
}

.alert {
    margin-top: 50px;
    padding: 350px;
    position: absolute;
    box-shadow: 0 0 3px gray;
}

@media only screen and (max-width: 800px)
{
    .content-form
    {
        width: 350px;
    }
}
